@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html{
  background-color: #FFFFE7;
}

.main{
  background-color: #FFFFE7;
  font-family: 'Spectral', serif;
}